<div class="container">
  <h1>Hello <%=@user.username%></h1>

  <form action="/tweet" method="post">
    <input type="text" maxlength="140" name="text">
    <button type="submit">Tweet</button>
  </form>

  <form action="/logout" method="post">
    <button type="submit">Log Out</button>
  </form>

  <h4> See someone else's tweets </h4>
<form action="/public_profile" method="post">
  <input type="text" name="username">
  <input type="submit" >
</form>
</div>


